---
layout: "landing.html"
title: "Accueil"
eleventyImport:
    collections: ["latestFewFinishedArticles"]
---

<section>
    <h2>Articles</h2>
    <p>Ici, j'écris autant que je peux sur des sujets variés (en général techniques)</p>
    <ul>
        {% for blog in collections.latestFewFinishedArticles %}
        <li style="display: flex;border-bottom: darkgray dotted 1px;    justify-content: space-between;">
            <a href="{{blog.url}}" style="text-decoration: none; flex-grow:1;">{{ blog.data.title }}</a>
            <time datetime="{{blog.data.date}}" style="font-family: monospace">
                {{ blog.data.date | toLocaleStringFrShort }}
            </time>
        </li>
        {% endfor %}
    </ul>
    <p><a href="/blog">Plus d'articles</a> | <a href="/making-of">Making-of de ce site</a></p>
</section>
<aside>
    <h2>Actualités</h2>
    <p><a href="/actualites.ics">Ajoutez à votre calendrier</a></p>
    <ul>
        {% for actualite in actualites.events %}
        <li>
            <time datetime="{{actualite.start | toIsoString}}" >{{actualite.start | toLocaleStringFr | capitalize}} à {{actualite.start | toLocaleTimeStringFr }}</time> : <a href="{{actualite.url}}">{{actualite.title}}</a>.
            {{actualite.description}}
        </li>
        {% endfor %}
    </ul>
</aside>
