<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% if description %}{{description}}{% else %}{{global.description}}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baldir - {{title}}</title>
    <link rel="alternate" href="/feed.xml" title="Baldir - Flux RSS des articles de blog" type="application/rss+xml">
    <link href="/public/css/a11y-light.min.css" rel="stylesheet"/>
    <link href="/public/css/style.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="header-skip-content">
        <ul>
            <li><a href="#content">Contenu</a></li>
            <li><a href="#search">Recherche</a></li>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
    <div role="banner">
        <div style="margin: .25rem .5rem; margin-left:0; font-size: larger"><a href="/">Marc Bouvier (Baldir)</a></div>
    </div>
    <p style="font-size: small">{{global.description}}</p>
    <nav id="menu" role="menu">
        <a href="/blog" role="menuitem">Articles de blog</a>
        <a href="/a-propos" role="menuitem">À propos</a>
        <a href="/notes" role="menuitem">Notes</a>
        <a href="/glossaire" role="menuitem">Glossaire</a>
        <a href="/citations" role="menuitem">Citations</a>
        <a href="/making-of" role="menuitem">Making of</a>
    </nav>
    <link href="/public/css/pagefind-baldir-fr-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({element: "#search", showSubResults: true, showImages: false});
        });
    </script>
    <data-pagefind-body  ></data-pagefind-body>
</header>
<main id="content">
    {{content}}
</main>
<hr/>
<aside>
    Prenons <a href="https://calendly.com/baldir-fr">30 minutes pour en visio</a> pour échanger.
</aside>
<footer>
    <a class="modify-from-sources"
       href="https://github.com/marc-bouvier/next.baldir.fr/blob/main/{{ page.inputPath }}"
       target="_blank">
        Voir cette page sur GitHub
    </a>
</footer>
</body>
</html>
