<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% if description %}{{description}}{% else %}{{global.description}}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baldir - {{title}}</title>
    <link rel="alternate" href="/feed.xml" title="Baldir - Flux RSS des articles de blog" type="application/rss+xml">
    <link href="/public/css/a11y-light.min.css" rel="stylesheet"/>
    <link href="/public/css/style.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="header-skip-content">
        <a href="#skip-content">Contenu</a>
    </div>
    <div role="banner">
        <h1 style="margin: .25rem .5rem;"><a href="/">Baldir</a></h1>
        <span>Marc Bouvier</span>
    </div>
    <p style="font-size: small">{{global.description}}</p>
    <nav class="menu" role="menu">
        <a href="/blog" role="menuitem">Articles de blog</a>
        <a href="/a-propos" role="menuitem">À propos</a>
        <a href="/notes" role="menuitem">Notes</a>
        <a href="/glossaire" role="menuitem">Glossaire</a>
        <a href="/making-of" role="menuitem">Making of</a>
    </nav>
</header>
<main id="skip-content">
    {{content}}
    <aside>
        Tu veux en savoir plus ? Prenons <a href="https://calendly.com/baldir-fr">30 minutes pour en parler !</a>
    </aside>
</main>
<footer>
    <a class="modify-from-sources"
       href="https://github.com/marc-bouvier/next.baldir.fr/blob/main/{{ page.inputPath }}"
       target="_blank">
        Modifier cette page sur GitHub
    </a>
</footer>
</body>
</html>
